@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
      font-family: 'Sora', sans-serif;
}

/* .outline {
      color: var(--primary-white);
      text-shadow:
            1px 0px var(--primary-black),
            -1px 0px var(--primary-black),
            0px -1px var(--primary-black),
            1px 1px var(--primary-black),
            -1px -1px var(--primary-black),
            1px -1px var(--primary-black),
            -1px 1px var(--primary-black);
} */

.outlined {
      color: var(--primary-white);
      text-shadow:
            var(--outline-width) 0 var(--primary-black),
            calc(var(--outline-width) * -1) 0 var(--primary-black),
            0 calc(var(--outline-width) * -1) var(--primary-black),
            var(--outline-width) var(--outline-width) var(--primary-black),
            calc(var(--outline-width) * -1) calc(var(--outline-width) * -1)
                  var(--primary-black),
            var(--outline-width) calc(var(--outline-width) * -1)
                  var(--primary-black),
            calc(var(--outline-width) * -1) var(--outline-width)
                  var(--primary-black);
}

.section--title {
      font-weight: 400;
      font-size: clamp(1.75rem, 5vw, 2.5rem);
      text-align: center;
}

/* esto nunca lo explicaron */
.section--container {
      padding: var(--spacing-40) var(--spacing-16);
}

/* --- HEADER SECTION --- */

.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-16);
}

.header__brand {
      display: flex;
      align-items: center;
      gap: var(--spacing-12);
}

.header__title {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--primary-black);
}

.header__nav,
.header__cta {
      display: none;
}

@media (width >= 1024px) {
      .header__nav,
      .header__cta {
            display: block;
      }

      .header__toggle {
            display: none;
      }

      .header__nav ul {
            display: flex;
            align-items: center;
            gap: var(--spacing-32);
            font-size: 1.25rem;
            font-weight: 600;
      }

      .header__cta {
            font-size: 1.25rem;
            background-color: var(--primary-black);
            color: var(--primary-white);
            padding: var(--spacing-16) var(--spacing-20);
            border-radius: 4px;
      }
}

/* Hero Section */

.hero {
      /* este paddin esta de sobra por el .section--container */
      /* padding: var(--spacing-40) var(--spacing-16); */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-40);
}

.hero__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--spacing-20);
}

.hero__title {
      /* 16px = 1rem */
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      font-weight: 400;
      color: var(--primary-black);
}

.hero__title strong {
      font-weight: 800;
}

.hero__description {
      font-size: 1rem;
      font-weight: 400;
      color: var(--primary-black);
      line-height: 1.5;
}

.hero__image {
      width: 100%;
      height: auto;
      max-height: 30vh;
}

.hero__social {
      display: flex;
      gap: var(--spacing-24);
      margin-top: var(--spacing-32);
}

.social--link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border: 2px solid var(--primary-black);
      border-radius: 4px;
      background: var(--primary-white);
      transition: all 0.2s ease;
}

.social--link:hover {
      background: var(--primary-black);
      color: var(--primary-white);
      transform: translateY(-2px);
}

.social--link:hover img {
      filter: invert(1);
}

.social--link img {
      width: 24px;
      height: 24px;
}

@media (width >= 768px) {
      .hero {
            flex-direction: row-reverse;
      }
      .hero__content {
            max-width: 50%;
      }
}

/* Grid auto-fit */

.skills__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: var(--spacing-20);
}

.skill-card:nth-child(n + 7) {
      display: none;
}

@media (width >= 768px) {
      .skills__grid {
            gap: var(--spacing-32);
      }
      .skill-card:nth-child(n + 7) {
            display: flex;
      }
      .skill-card:nth-child(n + 9) {
            display: none;
      }
}

@media (width >= 1024px) {
      .skills__grid {
            grid-template-columns: repeat(5, 1fr);
      }
      .skill-card:nth-child(n + 9) {
            display: flex;
      }
}

/*** MIS HABILIDADES ***/

.skills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--spacing-20);
}

.skill-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      /* para que se haga cuadrado */
      aspect-ratio: 1/1;
      /* aspect-ratio: 9/16; */
      /* aspect-ratio: 16/9; */

      padding: var(--spacing-24);
      border-radius: 4px;

      background: var(--primary-white);
      border: 2px solid var(--primary-black);

      transition: transform 0.15s ease;
}

.skill-card:hover {
      background: var(--primary-black);
      color: var(--primary-white);
      transform: translateY(-2px);
}

.skill-card:hover .skill-card__icon img {
      filter: invert(1);
}

.skill-card:hover .skill-card__label {
      color: var(--primary-white);
}

.skill-card__icon img {
      width: 48px;
      height: 48px;
      margin-bottom: var(--spacing-16);
}

.skill-card__label {
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 700;
      color: var(--primary-black);
}

/* --- EXPERIENCE SECTION --- */

.experience-card {
      padding: var(--spacing-32) var(--spacing-24);
      border: 1px solid var(--color-zinc-500);
      border-radius: 10px;
      transition: background-color 0.3s ease;
      align-items: center;

      display: grid;
      grid-template-columns: 32px 1fr;
      gap: var(--spacing-32);
      grid-template-areas: 'logo role' 'date date' 'description description';
}

.experience-card:hover {
      background-color: var(--color-zinc-800);
}

.experience-card__logo {
      grid-area: logo;
      width: 100%;
}

.experience-card__role {
      grid-area: role;
      font-size: 1.25rem;
      font-weight: 600;
      align-self: end;
}
/* Esta clase que onda??? */
/* .experience-card__company {
      font-size: clamp(1.25rem, 2vw, 1, 25rem);
      font-weight: 600;
      align-self: start;
} */

.experience-card__date {
      grid-area: date;
      color: var(--color-zinc-300);
      font-size: 1rem;
      font-weight: 600;
}

.experience-card__description {
      grid-area: description;
      line-height: 1.5;
      color: var(--color-zinc-300);
}
