@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
      font-family: 'Sora', sans-serif;
}

.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-16);
}

.header__brand {
      display: flex;
      align-items: center;
      gap: var(--spacing-12);
}

.header__title {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--primary-black);
}

.header__nav,
.header__cta {
      display: none;
}

@media (width >= 1024px) {
      .header__nav,
      .header__cta {
            display: block;
      }

      .header__toggle {
            display: none;
      }

      .header__nav ul {
            display: flex;
            align-items: center;
            gap: var(--spacing-32);
            font-size: 1.25rem;
            font-weight: 600;
      }

      .header__cta {
            font-size: 1.25rem;
            background-color: var(--color-black);
            color: var(--color-white);
            padding: var(--spacing-16) var(--spacing-20);
            border-radius: 4px;
      }
}
