@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
      font-family: 'Sora', sans-serif;
}

.outlined {
      color: var(--color-white);
      text-shadow:
            1px 0px var(--color-black),
            -1px 0px var(--color-black),
            0px -1px var(--color-black),
            1px 1px var(--color-black),
            -1px -1px var(--color-black),
            1px -1px var(--color-black),
            -1px 1px var(--color-black);
}

/* --- HEADER SECTION --- */

.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-16);
}

.header__brand {
      display: flex;
      align-items: center;
      gap: var(--spacing-12);
}

.header__title {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--primary-black);
}

.header__nav,
.header__cta {
      display: none;
}

@media (width >= 1024px) {
      .header__nav,
      .header__cta {
            display: block;
      }

      .header__toggle {
            display: none;
      }

      .header__nav ul {
            display: flex;
            align-items: center;
            gap: var(--spacing-32);
            font-size: 1.25rem;
            font-weight: 600;
      }

      .header__cta {
            font-size: 1.25rem;
            background-color: var(--color-black);
            color: var(--color-white);
            padding: var(--spacing-16) var(--spacing-20);
            border-radius: 4px;
      }
}

/* Hero Section */

.hero {
      padding: var(--spacing-40) var(--spacing-16);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-40);
}

.hero__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--spacing-20);
}

.hero__title {
      /* 16px = 1rem */
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      font-weight: 400;
      color: var(--color-black);
}

.hero__title strong {
      font-weight: 800;
}

.hero__description {
      font-size: 1rem;
      font-weight: 400;
      color: var(--primary-black);
      line-height: 1.5;
}

.hero__image {
      width: 100%;
      height: auto;
      max-height: 30vh;
}

@media (width >= 768px) {
      .hero {
            flex-direction: row-reverse;
      }
}
