@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
      font-family: 'Sora', sans-serif;
}

/* .outline {
      color: var(--primary-white);
      text-shadow:
            1px 0px var(--primary-black),
            -1px 0px var(--primary-black),
            0px -1px var(--primary-black),
            1px 1px var(--primary-black),
            -1px -1px var(--primary-black),
            1px -1px var(--primary-black),
            -1px 1px var(--primary-black);
} */

.outline {
      color: var(--primary-white);
      text-shadow:
            var(--outline-width) 0 var(--primary-black),
            calc(var(--outline-width) * -1) 0 var(--primary-black),
            0 calc(var(--outline-width) * -1) var(--primary-black),
            var(--outline-width) var(--outline-width) var(--primary-black),
            calc(var(--outline-width) * -1) calc(var(--outline-width) * -1)
                  var(--primary-black),
            var(--outline-width) calc(var(--outline-width) * -1)
                  var(--primary-black),
            calc(var(--outline-width) * -1) var(--outline-width)
                  var(--primary-black);
}

.section--title {
      font-weight: 400;
      font-size: clamp(1.75rem, 5vw, 2.5rem);
      text-align: center;
}

/* --- HEADER SECTION --- */

.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-16);
}

.header__brand {
      display: flex;
      align-items: center;
      gap: var(--spacing-12);
}

.header__title {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--primary-black);
}

.header__nav,
.header__cta {
      display: none;
}

@media (width >= 1024px) {
      .header__nav,
      .header__cta {
            display: block;
      }

      .header__toggle {
            display: none;
      }

      .header__nav ul {
            display: flex;
            align-items: center;
            gap: var(--spacing-32);
            font-size: 1.25rem;
            font-weight: 600;
      }

      .header__cta {
            font-size: 1.25rem;
            background-color: var(--primary-black);
            color: var(--primary-white);
            padding: var(--spacing-16) var(--spacing-20);
            border-radius: 4px;
      }
}

/* Hero Section */

.hero {
      padding: var(--spacing-40) var(--spacing-16);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-40);
}

.hero__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--spacing-20);
}

.hero__title {
      /* 16px = 1rem */
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      font-weight: 400;
      color: var(--primary-black);
}

.hero__title strong {
      font-weight: 800;
}

.hero__description {
      font-size: 1rem;
      font-weight: 400;
      color: var(--primary-black);
      line-height: 1.5;
}

.hero__image {
      width: 100%;
      height: auto;
      max-height: 30vh;
}

.hero__social {
      display: flex;
      gap: var(--spacing-24);
      margin-top: var(--spacing-32);
}

.social--link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border: 2px solid var(--primary-black);
      border-radius: 4px;
      background: var(--primary-white);
      transition: all 0.2s ease;
}

.social--link:hover {
      background: var(--primary-black);
      color: var(--primary-white);
      transform: translateY(-2px);
}

.social--link:hover img {
      filter: invert(1);
}

.social--link img {
      width: 24px;
      height: 24px;
}

@media (width >= 768px) {
      .hero {
            flex-direction: row-reverse;
      }
      .hero__content {
            max-width: 50%;
      }
}
