* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
      display: block;
      max-width: 100%;
}

button,
input,
select,
textarea {
      font: inherit;
}

button {
      cursor: pointer;
      background: none;
      border: none;
}

a {
      text-decoration: none;
      color: inherit;
}

ul,
ol {
      list-style: none;
}
