:root {
      /* Primary */
      --color-black: #000000;
      --color-neutral: #404040;
      --color-white: #ffffff;

      /* Zinc */
      --color-zinc-100: #f4f4f5;
      --color-zinc-200: #e4e4e7;
      --color-zinc-300: #d4d4d8;
      --color-zinc-500: #71717a;
      --color-zinc-800: #27272a;

      /* Error */
      --color-error-500: #ef4444;

      /* Spacing */
      --spacing-4: 4px;
      --spacing-8: 8px;
      --spacing-12: 12px;
      --spacing-16: 16px;
      --spacing-20: 20px;
      --spacing-24: 24px;
      --spacing-28: 28px;
      --spacing-32: 32px;
      --spacing-36: 36px;
      --spacing-40: 40px;

      --outline-width: 1px;
}

@media (width >= 768px) {
      :root {
            --outline-width: 2px;
      }
}
