:root {
      /* Primary */
      --color-black: #000000;
      --color-neutral: #404040;
      --color-white: #ffffff;

      /* Zinc */
      --color-zinc-100: #f4f4f5;
      --color-zinc-200: #e4e4e7;
      --color-zinc-300: #d4d4d8;
      --color-zinc-500: #71717a;
      --color-zinc-800: #27272a;

      /* Error */
      --color-error-500: #ef4444;
}
